.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-2-color);
    border-radius: 5px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto 0fr;
    grid-template-areas: 
    "index title selection"
    ". size size"
    ;
    justify-content: space-between;
    background-color: var(--background-2-color);
    color: var(--font-1-color);
    padding: 15px;
    gap: 0px 40px   ;
    border-radius: 5px;
    transition: grid-template-rows 0.5s;
    font-size: 20.5px;
}
.size {
    grid-area: size;
    gap: 10px;
    overflow: hidden;
}
.open{
    grid-template-rows: auto 1fr;
}
.sizeContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}
.sizeContent button {
    background-color: transparent;
    max-height: 45px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.sizeContent button:hover {
    opacity: 0.8;
}
.content span {
    grid-area: index;
}

.title {
    color: var(--font-2-color);
    grid-area: title;
    cursor: pointer;
}

.selection {
    display: flex;
    grid-area: selection;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    cursor: pointer;
}

.selection div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.selected {
    color: var(--selected-color);
    border: var(--selected-color) 0.5px solid;
}

.unselected {
    color: var(--font-1-color);
    border: var(--font-1-color) 0.5px solid;
}

.sizeButtons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.sizeButtons button {
    background-color: transparent;
    color: var(--font-1-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 20px;
    font-weight: bold;
}

.sizeButtons button:hover {
    color: var(--font-3-color);
}

.unchecked {
    background-color: var(--font-1-color);

}

.checked {
    background-color: var(--selected-color);

}

.divider {
    border-bottom: 1px solid var(--font-1-color);
}


