.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    max-width: 580px;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    gap: 20px;
    margin: 20px 0;
    color: var(--font-1-color)
}

.addButton:hover {
    color: var(--font-3-color);
}