.container {
    max-width: 530px;
    background-color: var(--background-1-color);
    padding: 45px 25px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: var(--font-3-color);
    cursor: pointer;
    font-size: 26px ;
}

.icons {
    color: var(--font-1-color);
}

.unblocked {
    color: var(--font-3-color);
}

.addIteration {
    display: grid;
    grid-template-columns: 1fr;
}
.iterationInput {
    display: flex;
    background-color: var(--background-2-color);
    gap: 20px;
    margin-top: 2px;
    font-size: 20.5px;
    padding: 12px 15px;
    border-radius: 0 0 10px 10px;
}

.iterationInput span {
    color: var(--font-1-color);
    flex-shrink: 0;
}
.iterationInput input::placeholder {
    font-size: 20.5px;
}

.iterationInput input {
    background-color: transparent;
    border: none;
    color: var(--font-1-color);
    font-size: 20.5px;
}

textarea {
    background-color: var(--background-2-color);
    border: none;
    border-radius: 10px;
    color: var(--font-1-color);
    font-size: 20.5px;
    padding: 15px;
    overflow: hidden;
    height: 80px;
}

.iterationInput, input:focus{
    outline: none;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: end;
    overflow: hidden;
    margin-top: 25px;
}

.iterations{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}

.iterationElements {
    background-color: var(--background-2-color);
}

.first {
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
}

.last {
    border-radius: 0 0 10px 10px;
}

.actions button {
    background-color: transparent;
    color: var(--font-1-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.addIteration {
    margin: 10px 0;
}

.addIteration button {
    background-color: transparent;
    color: var(--font-1-color);
    border: none;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.warn {
    border-radius: 10px;
    background-color: var(--background-2-color);
    color: var(--font-1-color);
    font-size: 23px;
    padding: 25px;

}

.warn a {
    text-decoration: none;
    text-decoration: underline;
    color: var(--font-1-color);
}

.actions button:hover {
    color: var(--font-3-color);
}

.locked {
    color: var(--font-1-color);
}

.unselected {
    color: var(--font-1-color);
}

.contentWrapper{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
}

form {
    overflow: hidden;
}

.open {
    grid-template-rows: 1fr;
}

.promptInput {
    background-color: var(--background-2-color);
    border: none;
    border-radius: 10px;
    color: var(--font-1-color);
    font-size: 20.5px;
    padding: 15px;
    overflow: hidden;
    height: 40px;
}

.generate {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    font-size: 20px;
    text-align: center;
    color: var(--error-color);
    margin-top: 2px;
    padding: 5px;
    background-color: rgb(255, 0, 0, 0.1);
    
}

@media (max-width: 325px) {
    .actions {
        justify-items: center;
    }

    .container {
        max-width: 530px;
        background-color: var(--background-1-color);
        padding: 20px 10px;
    }
}