*{
  font-family: "Raleway";
  font-weight: 500;
}
:root{
  --font-size-1: calc(12px + (18 - 12) * ((100vw - 300px)  / ( 1600 - 300)));
  
  --background-1-color: rgb(25, 25, 25);
  --background-2-color: #000000;
  --selected-color: #01A43C;
  --font-1-color: #757575;
  --font-2-color: #BDBCBD;
  --font-3-color: #FFFFFF;
  --error-color: #FF0000;
}
body {
  margin: 0;
  place-items: center;
}


