.container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 0fr;
    grid-template-areas: 
        "index row"
        " . drawer"
    ;
    transition: grid-template-rows 0.5s;
    /* background-color: var(--background-2-color); */
}
.open{
    grid-template-rows: min-content 1fr;
}
.index {
    grid-area: index;
    display: flex;
    align-self: center;
    padding: 12px 40px 12px 12px;
    flex-basis: 8 0px;
    white-space: nowrap;
}
.row {
    grid-area: row;
    display: flex;
    color: var(--font-1-color);
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 20.5px;
}
.title {
    color: var(--font-2-color);
    flex-grow: 1;
    cursor: pointer;
}
.selection {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.selection div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: flex;
    align-self: center;
}
.unchecked {
    background-color: var(--font-1-color);
}
.checked {
    background-color: var(--selected-color);
}
.drawer {
    grid-area: drawer;
    padding: 5px 20px 0px 15px;
    gap: 10px;
    overflow: hidden;
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--font-1-color);
}
.content button {
    background-color: transparent;
    max-height: 45px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.content button:hover {
    opacity: 0.8;
}
.actions {
    display: flex;
    padding: 0 10px 20px 0;
    gap: 20px;
    justify-content: flex-end;
}
.actions button {
    background-color: transparent;
    color: var(--font-1-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 20px;
    font-weight: bold;
}
.actions button:hover {
    color: var(--font-3-color);
}
.selected {
    color: var(--selected-color);
    border: var(--selected-color) 0.5px solid;
}
.unselected {
    color: var(--font-1-color);
    border: var(--font-1-color) 0.5px solid;
}
@media ( max-width: 600px){
    .content button {
        padding: 8px;
        font-size: var(--font-size-1);
    }
}

@media ( max-width: 500px){
    .index {
        display: none;
    }
    .content button {
        padding: 8px;
        flex-grow: 1;
    }
}

@media ( max-width: 325px){
    .content {
        gap: 8px;
    }

    .content button {
        padding: 8px;
        flex-grow: 1;
    }
    .open {
    }

    .selection {
        justify-content: center;
    }
    
    .actions button {
        padding-top: 10px;
        font-weight: bold;
    }
}


